/* Шрифт и текст */

@font-face {
  font-family: "PT Sans";
  src: url(fonts/PTSans-Regular.woff2);
  font-display: swap;
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "PT Sans";
  src: url(fonts/PTSans-Italic.woff2);
  font-display: swap;
  font-style: italic;
  font-weight: 400;
}

@font-face {
  font-family: "PT Sans";
  src: url(fonts/PTSans-Bold.woff2);
  font-display: swap;
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "PT Sans";
  src: url(fonts/PTSans-BoldItalic.woff2);
  font-display: swap;
  font-style: italic;
  font-weight: 700;
}

h1 {
  color: #000000;
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  /* identical to box height, or 130% */
}

h2 {
  color: #000000
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  /* or 120% */
  text-align: center;
  text-transform: uppercase;
}

h3 {
  color: #000000;
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  /* or 117% */
  text-align: center;
  text-transform: uppercase;
}

h4 {
  color: #000000;
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  /* identical to box height, or 120% */
  text-transform: capitalize;
}

h1, h2, h3, h4, span, p {
  margin: 0;
}

/* Другое */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  height: 100%;
}

body {
  margin: 0;
  width: 1200px;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: 'PT Sans', sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #F2F2F2;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.2);
}

.container {
  margin: 0 auto;
}

.main-inner {
  font-family: 'PT Sans', sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #ffffff;
}

/* Кнопки */

.button {
  font-family: inherit;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: #756157;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 4px;
}

.button > .want {
  display: flex;
  align-items: center;
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  padding: 8px 34px 8px 34px;
  color: #ffffff;
  background-color: #756157;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 4px;
}

.button-like {
  font-family: inherit;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: #82B3D3;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 4px;
}

.subscribe-button {
  font-family: inherit;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: #82B3D3;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 4px;
}

/* Каталог */

.catalog-products {
  display: grid;
  grid-template-columns: repeat(3, 340px);
  gap: 20px;
  padding: 0;
  margin: 0;
}

/* .catalog-products {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 0;
  width: 1060px;
  list-style-type: none;
  padding: 0;
} */

.catalog-products-wrap {
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.product-card-image {
  display: flex;
  justify-content: flex-start;
  width: 300px;
  height: auto;
  margin: 0;
  object-fit: scale-down;
}

.product-card {
  display: flex;
  flex-direction: column;
  gap: 16px;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  border: 1px solid #E6E6E6;
  border-radius: 4px;
  text-decoration: none;
  box-sizing: border-box;
  padding: 20px;
}

.product-card-link {
  display: flex;
  flex-direction: column;
  gap: 16px;
  text-decoration: none;
}

.product-card-title {
  display: inline;
  text-align: left;
  text-decoration: none;
  text-transform: none;
}

.type-price > p {
  color: #333333;
}

.type-price,
.buttons-more-like,
.rate {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.inner-header {
  display: flex;
  flex-direction: column;
  padding-top: 35px;
  padding-left: 70px;
  padding-right: 70px;
  padding-bottom: 70px;
}

.inner-header-title {
  margin-bottom: 8px;
}

.breadcrubs-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  gap: 10px;
  padding: 0;
  margin: 0;
}

.breadcrubs-item {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
}

.small-p {
  padding: 0;
  margin: 0;
  align-items: center;
}

.header-bread {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.catalog-hotels {
  display: flex;
  flex-direction: row;
  padding-top: 40px;
  width: 1060px;
  margin: 0;
}

.catalog-filter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1060px;
}

.catalog-filter-group {
  display: flex;
  flex-direction: column;
  margin: 0;
  margin-right: 70px;
  padding: 0;
  border: 0;
}

.catalog-filter-group:nth-child(2) {
  margin-right: 0;
}

.catalog-filter-title {
  margin-bottom: 32px;
  padding-left: 0;
  padding-right: 0;
}

.control {
  margin-bottom: 16px;
}

.control:nth-child(4) {
  margin-bottom: 0;
}

.catalog-filter-wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.catalog-control-wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  width: 549px;
}

/* Сортировка — найдено гостиниц */

.select-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 70px;
  margin-right: 70px;
}

.sorting-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.button-light {
  margin-right: 8px;
}

.button-light:nth-child(3) {
  margin-right: 0;
}

.select {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  margin-bottom: 60px;
  gap: 40px;
}

/*
select {
  display: flex;
  width: 292px;
  padding: 14px 20px;
  justify-content: space-between;
  align-items: center;
  border-radius: 4px;
  border: #E5E5E5 2px solid;
  background-color: #ffffff;
}
*/

.select-control {
  margin-right: 70px;
}

.sorting-buttons {
  display: flex;
}

.button-light {
  width: 48px;
  height: 48px;
  border: #E5E5E5 2px solid;
  border-radius: 4px;
  background-color: #ffffff;
}

/* Хедер */

.page-header {
  color: #000000;
  background-color: #ffffff;
  width: 1200px;
  padding-left: 70px;
  padding-right: 70px;
  box-sizing: border-box;
}

.navigation {
  display: flex;
  align-content: space-between;
  height: 64px;
  margin: 0 auto;
}

.navigation-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
  flex-wrap: wrap;
}

.navigation-user {
  margin-left: auto;
  min-width: 20px;
  min-height: 20px;
}


.navigation-item .navigation-cta {
  margin-left: 0;
  padding-left: 20px;
  padding-top: 14px;
  padding-bottom: 14px;
}

.main-image {
  display: block;
  margin: 0 auto;
}

.navigation-item {
  display: flex;
  align-items: center;
  font-size: 20px;
  padding: 16px 20px 16px 20px;
  line-height: 24px;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
  color: inherit;
  list-style-type: none;
}

.navigation-item-icons {
  display: flex;
  align-items: center;
  width: 20px;
  height: 20px;
  padding: 22px 12px 22px 12px;
  text-align: center;
  text-decoration: none;
  color: inherit;
  list-style-type: none;
}

.navigation-item-button {
  display: flex;
  align-items: center;
  padding: 14px 20px 14px;
  padding-right: 0;
  margin-right: 0;
  text-align: center;
  text-decoration: none;
  color: inherit;
  list-style-type: none;
}

.navigation-link {
  display: flex;
  align-content: stretch;
  text-decoration: none;
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
  color: inherit;
  list-style-type: none;
}

.main-index {
  background-image: url("images/index-background.jpg");
  background-color: #ffffff;
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.product-image {
  margin: 0;
  padding: 0;
}

.main-image {
  display: block;
  padding-top: 51px;
  padding-bottom: 82px;
}

.inner-header{
  color: #ffffff;
  background-color: #6691B1;
  background-image: url("images/filter.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.inner-header h1 {
  color: #ffffff;
}

.inner-header h4 {
  color: #ffffff;
}

.reasons,
.advantages,
.cta {
  text-align: center;
  background-color: #ffffff;
  margin: 0;
  padding: 0;
}

.reasons-description,
.advantages-description {
  width: 230px;
}

.reasons-item-1 > p,
.reasons-item-2 > p,
.advantages-item-1 > p,
.advantages-item-2 > p {
  color: #333333;
  margin-top: 30px;
}

.reasons-item-3 > p {
  margin-top: 30px;
}

.reasons-wrap > p,
.advantages-wrap > p,
.cta-wrap > p {
  color: #333333;
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  margin: 0;
}

/* Седона — небольшой городок в Аризоне,
заслуживающий большего! */

.reasons-title {
  margin-bottom: 25px;
}

.reasons-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  text-align: center;
  list-style-type: none;
}

.reasons-item-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  background-color: rgba(131, 179, 211, 0.12);
  width: 400px;
  height: 385px;
  list-style-type: none;
}

.reasons-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
  height: 282px;
}

.reasons-item-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  background-color: rgba(131, 179, 211, 0.2);
  width: 400px;
  height: 385px;
  list-style-type: none;
}

.reasons-item-3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  color: #ffffff;
  background-color: rgba(130, 179, 211, 1);
  width: 400px;
  height: 385px;
  list-style-type: none;
}

.reasons-item-3 h3 {
  color: #ffffff;
}

/* Приезжайте в Седону отдохнуть в комфорте и уюте! */

.advantages-title {
  margin-bottom: 20px;
}

.advantages-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
  height: 246px;
}

.advantages-list {
  display: flex;
  justify-content: space-evenly;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.advantages-item-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  background-color: rgba(131, 179, 211, 0.12);
  width: 400px;
  height: 385px;
  list-style-type: none;
}

.advantages-item-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  background-color: white;
  width: 400px;
  height: 385px;
  list-style-type: none;
}

.advantages-item-1 > .product-image,
.advantages-item-2 > .product-image {
  margin-bottom: 30px;
}

/* Заинтересовались? */

.cta-title,
.subscribe-title {
  margin-bottom: 20px;
}

.cta-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
  height: 406px;
}

/* Подпишитесь на рассылку */

.subscribe {
  text-align: center;
  color: #ffffff;
  background-color: #6691B1;
  background-image: url("images/Subscribe-2.png");
  background-size: 100% auto;
}

.subscribe-catalog {
  text-align: center;
  color: #000000;
  background-color: #ffffff;
}

.subsribe-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
  height: 414px;
}

/* Пагинация */

.pagination {
  display: flex;
  gap: 8px;
  margin-left: 70px;
  margin-right: 70px;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
}

.pagination-item .pagination-current {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: 60px;
  height: 60px;
  font-family: inherit;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  color: #000000;
  background-color: #F2F2F2;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 4px;
  list-style-type: none;
  text-decoration: none;
}

.pagination-item {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  font-family: inherit;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  width: 60px;
  height: 60px;
  background-color: #82B3D3;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 4px;
  list-style-type: none;
}

.pagination-item .pagination-hide {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: 60px;
  height: 60px;
  font-family: inherit;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  text-align: center;
  color: #000000;
  background-color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 4px;
  list-style-type: none;
  text-decoration: none;
}

/* Футер */

footer {
  display: flex;
  justify-content: center;
}

.page-footer {
  color: #000000;
  background-color: #ffffff;
  margin: 0 auto;
  width: 1200px;
  height: 120px;
}

.contacts-list{
  display: flex;
  flex-direction: row;
  list-style-type: none;
}

.contacts {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1060px;
  align-items: center;
  list-style-type: none;
}

.phone {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-size: 40px;
  line-height: 40px;
  font-weight: 400;
  text-decoration: none;
  color: #000000;
}
